.Collapsecontainer {
    width:100%;
    border:1px solid #d3d3d3;
}
.Collapsecontainer div {
    width:100%;
}
.Collapsecontainer .Collapseheader {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.Collapsecontainer .Collapsecontent {
    display: none;
    padding : 5px;
}