

@import "mixin";


@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);








/* 
  Fonts
  */


/*
  Globals
  */

  body {
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    color: #333332;
    font-size: 18px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    overflow: hidden;
  }

  *,
  *:after,
  *:before {
    @include box-sizing(border-box);
  }



  a{
    color: inherit;
    text-decoration: none;
    background: transparent;
  }

  h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
  }

  li{
    display: list-item;
    text-align: -webkit-match-parent;
  }

  h1,h2,h3,h4{
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
  }



  .clearfix{
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }




// ==================BTN==================


.btn-set{
  margin: 0 10px;
  line-height: 44px;
  display: inline-block;
  white-space: nowrap;
}

.btn{
  display: inline-block;
  position: relative;
  height: 38px;
  line-height: 37px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  color: rgba(255,255,255,0.88);
  background: rgba(0,0,0,0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0.55);
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;

  @include box-sizing(border-box);
  @include no-select;
  @include border-radius(999em);
  @include transition(all 300ms);

  &:hover,active,focus{
    color: rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0.3);
  }

}



// ============================BTN END==================================




.nav-tabs{padding-bottom: 0;border-top: 1px #dededc solid;}
.nav-tabs-light{border-top-color: rgba(255,255,255,.35)}
.nav-tabs-list{list-style: none;margin-top: -1px;}
.nav-tabs-item{display: inline-block;margin-right: 20px;}
.nav-tabs-anchor{
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #b3b3b1;
  padding: 20px 0;

  color:rgba(255,255,255,0.65)
}
.nav-tabs-anchor:hover{color: #fff}
.active .nav-tabs-anchor{border-top-color: #fff; color: #fff}








// ==========================slide-menu================================




nav#slide-menu {
  position: fixed;
  top: 0;
  left: -284px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  background-color: #151515;

  @include transition(all 300ms);

  > ul.siteNavList {
    display: block;

    padding: 0;
    list-style: none;
    opacity: 0.5;

    @include transition(all 300ms);

    .siteNavList-item{
      .siteNavList-button{}
    }

    .siteNavList-item--home{margin-top:10px;}
  }
}

    .siteNavList-item{position:relative;}

#body.menu-active nav#slide-menu { left: 0px; }
#body.menu-active nav#slide-menu ul { left: 0px; opacity: 1; }

.siteNavList-button{
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  display: block;
  padding: 0 16px 0 52px;
  height: 48px;
  line-height: 46px;
  font-size: 16px;
  border: 0;
  color:rgba(255,255,255,0.65);
  background: rgba(0,0,0,0);
  text-align: left;

  .icon{
    font-size: 20px;
    display: block;
    position: absolute;
    left: 18px;
    top: -1px;
    width: 20px;
    text-align: center;
    line-height:46px;
  }

  .avatar{
    position: absolute;
    left: 16px;
    top: 10px;}

  }

  .siteNavList-button--secondary{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 16px 0 6px;

    .icon{
      line-height: 48px;
      font-size: 20px;
    }
  }


  .avatar{
    display: block;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    width: 65px;
    height: 65px;
    line-height: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }

  .avatar--micro{
    width: 24px;
    height: 24px;
  }




/*
  Content
  */

  div#content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transition(cubic-bezier(.2, .3, .25, .9) .2s );

    div.menu-trigger {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 44px;
      height: 44px;
      line-height: 55px;
      z-index: 700;

      text-align: center;
      background: #151515;
      cursor: pointer;
      @include Opacity(1);
      @include border-radius(5px);
      @include transition(top .2s linear,left .2s linear,opacity .2s linear);


      img.nav-icon{    
        width: 20px;
        position: relative;}




        &:hover {@include Opacity(0.7);}
      }
    }

    #body.menu-active div#content { left: 284px;}
    #body.menu-active div#content .menu-trigger { left: 294px; }
    #body.menu-active div.site-nav-overlay { left: 284px; display:block;}



    .site-nav-overlay{
      display: none;
      position: fixed;
      left: 284px;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 600;
      // background-color: rgba(255,255,255,.4);

      @include transition(cubic-bezier(.2, .3, .25, .9) .2s );
    }



// ==========================slide-menu END================================



.image-home-header-bleed{
  position: absolute;
  background: #191918;
  top: 0;
  left: 0;
  right: 0;
  height: 450px;
  pointer-events: none;

  background: url('../images/bg.jpg') no-repeat center center;
  z-index: -1;
}

.metabar{
  display: block;
  z-index: 500;
  @include box-sizing(border-box);
  width: 100%;
  font-size: 14px;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  color: #b3b3b1;
  /*    pointer-events: none;*/
}

.metabar-top{
  position: absolute;
  top: 0;
  height: 65px;
}



.hero{
  text-align: center;
  height: 500px;
}

.hero-home{height: 380px;}

.hero-logo{width: 200px;margin-bottom: 20px}

.hero-description{
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.hero-home .hero-description{color: #fff}




.bucket{
  padding-top: 30px;
  padding-bottom: 80px;
}

.post-item-connections{
  border-bottom: 1px solid #f2f2f0;
  padding: 40px 0;
}

.post-item{
  display: block;
  padding: 30px 0;
  word-wrap: break-word;
}

.post-meta{
  font-size: 14px;
  color: #b3b3b1;
}

.post-item-title{margin-bottom: 8px;}

.post-item-title>a{
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 28px;
  line-height: 1.1;
  color: #333332;
  margin-bottom: 4px;
}

.post-item-snippet>p{
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #666665;
  margin-bottom: 12px;
}

.post-meta-author-collection{line-height: 30px;}

.post-meta-avatar{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-bottom: -10px;
}

.post-meta-avatar-author{margin-right: 8px}

.avatar-icon{
  width: 32px;
  height: 32px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.post-item-bookmark{
  margin-top: 3px;
  margin-left: 15px;
  white-space: nowrap;
}

.reading-list-status{
  cursor: pointer;
  position: relative;
}

.icons-reading-list::before{
  position: relative;
  top: 2px;
  font-size: 16px;
}

.reading-list-status:hover .icons-reading-list{color: #666665}

.icons-reading-list{
  width: 10px;
  padding-left: 3px;
  padding-right: 4px;
  display: inline-block;

  color:#dededc
}

.icons{
  font-family: '';
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.reading-list-status:hover .reading-list-status-message{
  display: inline;
  color: #666665;
}

.reading-list-status-message{display: none;}

.reading-list-status:hover .reading-time{display: none;}







/*=================layout=================*/

.layout-single-column{
  width: 80%;
  margin: 0 auto;
}
.layout-fill-height{height: 100%}
.layout-foreground{position: relative;z-index: 100;}



/*=================layout END=================*/

/*=================alignment=================*/
.align-right{float: right;}
.align-middle:before, .align-middle .align-block{display: inline-block; vertical-align: middle;}
.align-block{margin-top: 50px}
.align-bottom::before, .align-middle::before{content: '';height: 100%}
/*=================alignment END=================*/

















// MIDEA QUARY




/* Landscape phones and down */

@media (max-width: 530px) { 
  .layout-single-column{
    width: auto;
  }

  .btn{
    height: 32px;
    line-height: 31px;
    font-size: 14px;
    padding: 0 14px;
  }

  .metabar .btn-set{
    line-height: 32px;
    margin: 8px;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 



}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 


}

/* Large desktop */
@media (min-width: 1280px) { 


}


















// ===========login page==============




.overlay{
  position: fixed;
  overflow: auto;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  background-color: rgba(255,255,255,0.97);


  &::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}



.overlay-close{
  border: 0;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 10px;
  right: 10px;
  padding-right: 10px;
  font-size: 28px;
  color: rgba(0,0,0,0.3);
}


.overlay-dialog{
  display: inline-block;
  vertical-align: middle;
  outline: none;
  overflow: hidden;
  max-width: 580px;
  padding: 100px 40px;
}

.overlay-content{
  color: rgba(0,0,0,0.6);
  line-height: 1.4;
  margin-bottom: 30px;
}


.btn-set--vertical{

  >.button{
    display: block;
    margin: 0 auto 10px;
  }

}


.button--twitter{
  background-color: #55acee;
  border: 0;
  color: #fff;
}

.button--facebook{
  background-color: #3b5998;
  border: 0;
  color: #fff;
}


.signinPrivacyMessages{
  margin-top: 40px;
  max-width: 500px;
  font-size: 14px;
  color: #b3b3b1;
  text-align: justify;
}


