<div class="col-md-3">
    <div class="well sidebar-nav">
        <strong>Colors</strong>
        <ul class="list-group">
            {{content.length}}
            {{#each content}}
            {{#link-to 'blog' this}}
            <li> {{title}}</li>
            {{/link-to}}
            
           <div> {{#link-to 'blogEdit' this}}edit{{/link-to}}</div>
          <div {{action "delete" this}} >delete</div>
            {{/each}}
        </ul>
    </div>
</div>