<div class="col-md-8">
 <form role="form">
  <div class="form-group">
    <label for="title">Title</label>
  
    
    {{input value=blog.title class="form-control" placeholder="Enter email"}}
  </div>
  <div class="form-group">
    <label for="blog">blog</label>
    {{textarea value=blog.body class="form-control" cols="80" rows="6" placeholder="Enter blog"}}
  </div>
  <div class="form-group">
     
  <button {{action 'submit'}} class="btn btn-default">Submit</button>
</form>
                </div>