<div class="col-md-3">
                    <div class="well sidebar-nav">
                        <strong>Colors</strong>
                        <ul class="list-group">
                            {{content.length}}
   {{#each content}}
    <li> {{title}}</li>

    {{/each}}
                        </ul>
                    </div>
                </div>
{{outlet}}