<div class="col-md-8">
 <form role="form">
  <div class="form-group">
    <label for="title">Title</label>

    {{model.title}}
  </div>
  <div class="form-group">
    <label for="blog">blog</label>
    {{model.body }}
  </div>
  <div class="form-group">
    <label for="Author">Author</label>
    {{model.author }}
  </div>
     
</form>
                </div>