<div class="well">    
    Hi there, thank you for visit my practice website. This is a simple blog, you can log in, manage your post and give comments to the blogs.

    <ul>
        <li>
            Drag and drop. When building a post you can drag and drop an image to the blog box, and the image can be uploaded.  
        </li>
        </ul>

</div>
