
<ul class="nav nav-tabs">
    <li class="active"><a href="#write" data-toggle="tab">Write</a></li>
    <li><a href="#Preview" data-toggle="tab">Preview</a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="write">
        <div id="postmainbox" style="margin-left:10px; "><div class="postuser"><img/></div>
            <div class="post right">
                <div class="arrow"></div>
                <div class="arrow-after"></div>
                <div class="arrow-before"></div>
                <h3 class="popover-title">Popover right</h3>
                {{#view Webstudio.PhotoCreateView}}
                <div id="dropbox" style="position: relative; margin: 15px auto;height: 520px; width: 510px; background-color: rgba(242,240,240,0.5);">    
                    <div class="popover-content" style="">
                        {{view Webstudio.dropBoxTextArea id="txtarea"  value=inputtext}}
                    </div>
                </div>
                <div class="new-btn blue-btn" style="margin: auto;  top: 0; position: relative;left: 0;" {{action "printout"}}>
            Choose 

        </div> 
                {{/view}}
            </div>
                
        </div>

        



    </div>
    <div class="tab-pane" id="Preview">
        {{inputtext}}

    </div>
</div>




