
<ul class="nav nav-tabs">
    <li class="active"><a href="#write" data-toggle="tab">Write</a></li>
    <li><a href="#Preview" data-toggle="tab">Preview</a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="write">


        <div id="postmainbox" style="margin-left:10px; "><div class="postuser"><img/></div>
            <div class="post right">
                <div class="arrow"></div>
                <div class="arrow-after"></div>
                <div class="arrow-before"></div>
                <h3 class="popover-title">Popover right</h3>
                {{#view Webstudio.PhotoCreateView}}

                <div id="dropbox" style="position: relative; margin: 15px auto;height: 520px; width: 690px; background-color: rgba(242,240,240,0.5);">    
                    <div class="popover-content">
                        {{view Webstudio.dropBoxTextArea id="dropboxtextarea" value=inputtext}}

                    </div>
                </div>

                {{/view}}
            </div>
                
        </div>

        <div class="new-btn blue-btn" style="margin: auto; width: 200px; top: 557px; position: absolute;left: 0;right: 67%;" {{action "printout"}}>
            Choose 

        </div> 



    </div>
    <div class="tab-pane" id="Preview">
        {{inputtext}}

    </div>
</div>




