<nav id="slide-menu" class="siteNav" tabindex="-1">
   <div class="siteNav-scrollableContainer" data-action-scope="_actionscope_2">
      <ul class="siteNavList">
         <li class="siteNavList-item navigable-list-item siteNavList-item--home">
            <a class="siteNavList-button" title="Go home" href="/" tabindex="-1">
                <k class="icon fa fa-home"></k>Home</a>
                <a class="siteNavList-button--secondary" title="Search Medium" href="/search" tabindex="-1">
                  <i class="icon fa fa-search"></i>
                </a>
            </li>
            {{#if islogin}}
         <li class="siteNavList-item navigable-list-item">
            <a class="siteNavList-button" title="View your profile" href="/@Big0Shaw" tabindex="-1">
                <span class="avatar avatar--micro">
                    <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/24/24/0*k96SnIcBCiY-PXOx.jpeg" class="avatar-image avatar-image--micro" title="大Shaw">
                </span>
                大Shaw</a>
                <a class="siteNavList-button--secondary" title="View your settings" href="/me/settings" tabindex="-1">
                    <i class="icon fa fa-cog"></i>
                </a>
            </li>
         <li class="siteNavList-item siteNavList-item-new-post navigable-list-item">
            <a class="siteNavList-button" title="New story" data-action="open-new-post" href="#/blog/new" tabindex="-1">
                <i class="icon fa fa-plus"></i>
             New Story
            </a>
        </li>
         <li class="siteNavList-item siteNavList-item-drafts navigable-list-item">
            <a class="siteNavList-button" title="View your drafts" href="/me/drafts" tabindex="-1">
              <i class="icon fa fa-edit"></i>
                Drafts
            </a>
        </li>
         <li class="siteNavList-item navigable-list-item">
            <a class="siteNavList-button" title="View your stats" href="/me/stats" tabindex="-1">
                <i class="icon fa fa-area-chart"></i>
                Stats
            </a>
        </li>
         <li class="siteNavList-item navigable-list-item">
            <a class="siteNavList-button" title="Collections" href="/collections" tabindex="-1">
                <span class="icon fa fa-cube"></span>
                Collections
            </a>
        </li>
      </ul>
      {{/if}}



<!--       <ul class="notificationsList">
         <li class="notificationsList-heading">Notifications</li>
         <li class="notificationsList-item   navigable-list-item">
            <div class="notificationsList-userAvatarIcon">
                <a href="/@romannurik" class="avatar avatar--micro" tabindex="-1" title="Roman Nurik">
                    <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/24/24/0*n2tc085UY7-iy4NT.png" class="avatar-image avatar-image--micro" data-tooltip="Roman Nurik" title="Roman Nurik">
                </a>
            </div>
            <a class="notificationsList-button" tabindex="-1" href="/@romannurik/3b935bfe5484">Roman Nurik published a new story Walk then talk</a>
         </li>
         <li class="navigable-list-item notifications-show-more">
            <button title="See older notifications" class="button button--chromeless button--moreNotifications" data-action="notifications-more">See older notifications…</button>
        </li>
      </ul>
 -->

      
   </div>
</nav>